.product__details p {
  padding-top: 10px !important;
  font-size: 18px;
}
.product__rating {
  padding-bottom: 10px !important;
}
.product__details h4 {
  color: #27b43e;
}
.available {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}
.available span:hover {
  background-color: none !important;
  border: none !important;
  padding: 0 !important;
}

/* .tab__wrapper {
  padding: 10px;
}
.tab__wrapper h5 {
  font-size: 18px;
  cursor: pointer;
}
.active__tap {
  font-weight: 900;
  color: #48d760;
}

.tab__content p {
  line-height: 30px;
}
.review__wrapper span {
  margin-left: 0 !important;
  font-weight: 600 !important;
  color: coral !important;
}

.review__wrapper p {
  margin-top: 10px;
} */
