.container {
  margin-top: 30px;
}
.container .row .contact-text {
  font-size: 24px;
  font-weight: bold;
  color: #18893a;
}

.container form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container form label {
  padding-bottom: 15px;
  margin-left: 10px;
  margin-top: 15px;
  color: #18893a;
  font-weight: 700;
  font-size: 18px;
}
.container form input {
  max-width: 100%;
  margin-left: 12px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #dedede9f;
  color: #000;
  animation: scaleAnimation 2s infinite;
  transition: 0.3s ease-in-out;
}
.container form input::placeholder {
  color: #000;
}
.container form input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container form textarea {
  margin-left: 12px;
  height: 150px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  resize: none;
  animation: scaleAnimation 2s infinite;
}
form .form-btn {
  margin-top: 20px;
  margin-bottom: 60px;
}

form .form-btn input {
  padding: 5px 30px;
  color: #f7f7f7;
  background-color: #18893a;
  outline: none;
  border: 1px solid #18893a;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.form form-btn input:hover {
  background-color: #18893ad3;
  transform: scale(1.1);
}
@keyframes scaleAnimation {
  0% {
    box-shadow: 0px 0px 3px 3px #f7f7f7;
  }
  50% {
    box-shadow: 0px 0px 7px 8px #efefef;
  }
  100% {
    box-shadow: 0px 0px 3px 3px #f7f7f7;
  }
}
