// _variables.scss

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary-color: #5b9b6e !default;
$text-color: #f8f3f3 !default;
$border-color: #e5e0e0 !default;
$active-color: #ccecd5 !default;
$price-color: #0c441d !default;
$button-color: #c8c8c8 !default;
$category-color: #393636 !default;
$heading-color: #403e3e !default;
